<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Reqres Test Suite" >
    <test name="Reqres multiple tests">
        <classes>
            <class name="io.github.mfaisalkhatri.ReqresTests">
                <methods>
                    <include name="testGetUsers"/>
                    <exclude name="testPostUser"/>
                    <include name="testPostUser_1"/>
                    <include name="testUpdateUser"/>
                    <exclude name="testUpdatePartialUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>